* {
    margin: 0;
    padding: 0;
    list-style: none; 
    box-sizing: border-box;
 }
 body {
     overflow-x: hidden;
 }
 a {
     text-decoration: none;
 }
 html {
     font-size: 16px;
 }
 header {
     width: 100vw;
     height: 11.4375rem;
     background: #8E8FFB;
 }
 .headtop {
     height: 2.75rem;
     flex-shrink: 0;
     background: #7852FF;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 1.25rem;
     padding-right: 0.56rem;
     width: 100%;
 }
 .headtop a {
     color: #000;
     text-align: center;
     font-family: Arial;
     font-size: 1.50944rem;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     transform: translateX(-2rem);
 }
 .headtop a:hover {
     color: #FFF;
 }
 .headtop a:last-of-type {
     width: 1.5625rem;
     height: 1.5625rem;
     flex-shrink: 0;
 }
 .headtop img, .logo img, .mainmid li img, .mainmidmid img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .headunder {
     display: flex;
     justify-content: space-between;
     padding-left: 0.94rem;
     padding-right: 5.19rem;
     transform: translateY(-0.5rem);
 }
 .headlist {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 5.25rem;
 }
 .headlist li a {
     color: #000;
     text-align: center;
     font-family: Arial;
     font-size: 2rem;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }
 .headlist li a:hover {
     color: #FFF;
 }
 .logo {
     width: 9.75rem;
     height: 9.75rem;
     flex-shrink: 0;
 }
 